<div class="quiz-form">
    <h2 class="mb-4 pb-4 border-bottom">Skill Quiz Generator</h2>

    <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()" class="row" novalidate>
        <div class="mb-3 col-md-4 col-12">
            <label for="candidateName" class="form-label">Candidate Name</label>
            <input type="text" id="candidateName" class="form-control" formControlName="candidateName" required>

            @if (hasError('candidateName', ['required'])) {
            <div class="text-danger">
                Candidate Name is required.
            </div>
            }
        </div>
        <div class="mb-3 col-md-4 col-12">
            <label for="technology" class="form-label">Technology</label>
            <select id="technology" class="form-select" formControlName="technology" required>
                <option value="">Select a Technology</option>
                @for (tech of technologies; track $index) {
                    <option [value]="tech">{{ tech }}</option>
                }
            </select>

            @if (hasError('technology', ['required'])) {
            <div class="text-danger">
                Technology is required.
            </div>
            }
        </div>
        <div class="mb-3 col-md-4 col-12">
            <label for="questionsLength" class="form-label">Questions Length</label>
            <input type="number" id="questionsLength" class="form-control" formControlName="questionsLength" min="5"
                required>

            @if (hasError('questionsLength', ['min', 'required'])) {
            <div class="text-danger">
                Minimum value is 5.
            </div>
            }
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="candidateForm.invalid">Generate Quiz</button>
        </div>
    </form>
</div>

<div class="mt-5">
    <h2 class="mb-4 pb-4 border-bottom">Ai Generated Quiz</h2>
    @if (formattedQuizResponse) {
        <app-generated-quiz [quiz]="formattedQuizResponse" />
    } @else {
        <p>Quiz isn't generated yet.</p>
    }
</div>