<div class="chat-container">
  <h2 class="mb-4 pb-4 border-bottom">Sentiment Analyzer</h2>
  <div class="messages row">
    <div class="mb-3 col-md-4 col-12">
      @for (msg of messages; track msg) {
        @if (msg.isUser) {
          <div [ngClass]="msg.isUser ? 'user-message' : 'bot-message'">
            {{ msg.text }}
          </div>
        } @else {
          @if (msg.error) {
            <div class="bot-message negative">
              {{ msg.error }}
            </div>
          } @else {
            <div
              class="bot-message"
              [class]="
                getSentimentClass(msg.response?.documentSentiment?.score)
              "
            >
              Score: {{ msg.response?.documentSentiment?.score }}<br />
              Magnitude: {{ msg.response?.documentSentiment?.magnitude }}
            </div>
          }
        }
      }

      <form (submit)="onSubmit()" class="input-form">
        <textarea
          class="form-control"
          rows="1"
          placeholder="Enter text to analyze..."
          [(ngModel)]="userInput"
          (keyup.enter)="onSubmit()"
          name="chatInput"
        ></textarea>
      </form>
    </div>
  </div>
</div>
